*__pycache__*
.DS_Store
.nextflow
trace.txt*
tests/work
tests/*.log*
tests/data/output/test_*
.nextflow.log*
.coverage
work*
one_sample
one_sample_manifest.txt
blastn_*
itr*_tmp.fasta
*.img
hmp_batch
*.ipynb_checkpoints*
tests/data/input/reference_1.fasta
tests/data/input/reference_2.fasta
tests
