*__pycache__*
.DS_Store
.nextflow
trace.txt*
tests/work
tests/*.log*
tests/data/output/test_*
.nextflow.log*
.coverage
work
*.img
*.ipynb_checkpoints*
nf_tests
.pytest_cache
nextflow_test.log*
tests/regression_test_data/output/test*
db
