params.kmer_length=15
params.mem_length=24

process {
	withLabel: spades {
		container = 'staphb/spades:3.14.0'
		cpus = 2
	}

	withLabel: mmseqs2 {
		container = 'soedinglab/mmseqs2:latest'
		cpus = 2
	}

	withLabel: pal_mem {
		container = 'bluemoon222/pal-mem:latest'
	}

	withLabel: discord_reads {
		container = 'python'
	}

	withLabel: map_reads {
		container = 'comics/bowtie2:2.3.4.1'
		cpus = 2
	}

	withLabel: filter_mapped_reads {
		container = 'pegi3s/samtools_bcftools:1.9'
		cpus = 2
	}

	withLabel: contig_ir {
		container = 'python'
	}

	withLabel: proteins {
		container = 'ubuntu:xenial'
	}

	withLabel: get_is {
		container = 'python'
	}
}

docker {
	enabled = true
}
