params {
        config_profile_description = 'Nextflow Config for PaliDIS'
        config_profile_contact = 'Victoria Carr'
        github_repo = 'https://github.com/blue-moon22/palidis'

        manifest = ""
        output_prefix = ""
        batch_name = "batch"

        min_itr_length = 25
        max_itr_length = 50
        kmer_length = 15
        min_is_len = 500
        max_is_len = 3000
        cd_hit_G = 0
        cd_hit_aL = 0.0
        cd_hit_aS = 0.9
        cd_hit_c = 0.9
        interproscan_version = "5.57-90.0"
        interproscan_db = "interproscan-${interproscan_version}"
        interproscan_tarball = "${interproscan_db}-64-bit.tar.gz"
        interproscan_link = "https://ftp.ebi.ac.uk/pub/software/unix/iprscan/5/${interproscan_version}/${interproscan_tarball}"
        db_path = "./db"
        lsf = false
}

process {
        container = 'bluemoon222/palidis_dependencies:0.0.22'
        cpus = 1
        memory = "2GB"
        errorStrategy = {task.attempt <= 0 ? 'retry' : 'ignore'}
        maxRetries = 0
        withName:convertToFasta {
                memory = '8000 MB'
                cpus = 4
                queue = 'long'
        }
        withName:palmem {
                memory = {128000.MB * task.attempt}
                cpus = 64
                queue = 'long'
        }
        withName:buildDB {
                memory = '8000 MB'
                queue = 'normal'
        }
        withName:mapReads1 {
                memory = '32000 MB'
                cpus = 16
                queue = 'normal'
        }
        withName:mapReads2 {
                memory = '32000 MB'
                cpus = 16
                queue = 'normal'
        }
        withName:getCandidateITRs {
                memory = '32000 MB'
                queue = 'long'
        }
        withName:clusterReads {
                memory = {32000.MB * task.attempt}
                cpus = 4
                queue = 'normal'
        }
        withName:getITRs {
                memory = {64000.MB * task.attempt}
                cpus = {8 * task.attempt}
                queue = 'long'
        }
        withName:runProdigal {
                memory = '8000 MB'
                queue = 'normal'
        }
        withName:installInterproscan {
                memory = '8000 MB'
                queue = 'normal'
        }
        withName:runInterproscan {
                memory = '8000 MB'
                cpus = 8
                queue = 'normal'
        }
        withName:getISInfo {
                memory = '8000 MB'
                queue = 'normal'
        }
}

profiles {

        github_ci {
                docker {
                        enabled = true
                }
                process {
                        memory = "4000 MB"
                        cpus = 1
                        withName:convertToFasta {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:palmem {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:buildDB {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:mapReads1 {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:mapReads2 {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:getCandidateITRs {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:clusterReads {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:getITRs {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:runProdigal {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:installInterproscan {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:runInterproscan {
                                memory = '4000 MB'
                                cpus = 1
                        }
                        withName:getISInfo {
                                memory = '4000 MB'
                                cpus = 1
                        }
                }
        }
}

singularity {
        cacheDir   = "${baseDir}/singularity"
}
